{% extends 'layout/base.html' %}

{% block 'title' %} Genders List {% endblock 'title' %}

{% block 'content' %}
{% include 'include/Sidebar.html' %}
{% include 'include/ToastMessage.html' %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14">
  <div class="mb-4">
    <form action="/gender/list" class="flex gap-2" mathod="GET">
      <input type="text" name="search" value="{{ search_query }}" placeholder="Search for gender" class="bg-white px-3 py-2 border border-gray-300 text-black text-sm rounded-sm w-full focus:outline-none focus:ring-red-600 focus:border-red-600">
      <button type="submit" class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-sm text-sm">Search</button>  
      {% if search_query %}
        <a href="/gender/list" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-sm text-sm">Clear</a>
      {% endif %}     
    </form>
  </div>
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
        <table class="w-full">
            <thead class="text-xs text-left text-white bg-red-600">
                <tr>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="text-xs text-black font-medium">
                {% for gender in genders %}
                    <tr class="hover:bg-gray-100 border b border-gray-200">
                        <td class="px-6 py-3">{{ gender.gender }}</td>
                        <td class="px-6 py-3">
                            <div class="inline-flex shadow-sm gap-2"> 
                                <a href="/gender/edit/{{ gender.gender_id }}" class="bg-green-500 px-3 py-2.5 font-medium text-white hover:bg-green-600 hover:outline-none rounded-sm">Edit</a>
                                <a href="/gender/delete/{{ gender.gender_id }}" class="bg-red-500 px-3 py-2.5 font-medium text-white hover:bg-red-600 hover:outline-none rounded-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- pagination -->
    <nav class="mt-4"> 
      <ul class="inline-flex -space-x-px text-sm w-full justify-center">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <li>
            <a href="?page={{ num }}" class="flex items-center justify-center px-3 h-8 text-red-600 border border-gray-300 bg-red-50 hover:bg-red-100 hover:text-red-700">{{ num }}</a>
          </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li>
            <a href="?page={{ num }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ num }}</a>
          </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>


{% endblock 'content' %}